@media (min-width: 1200px) {
	.container.songs-list-ct {
		width: 890px;
	}
}



@media (min-width: 768px) {
	
	header .row {
	  margin-top: 10px;
	  .col-xs-8 {
	    padding-left: 6px; 
	  }
	  img {
	    width: auto;
	  }
	  h1 {
	    font-size: 36px;
	    color: #fff;
	  } 
	}

    .playing-songs-ct {
      position: absolute;
      top: -50px;
      width: 100%;
    -webkit-transition: top 0.5s ease; /* Safari */
    transition: top 0.5s ease;
    &:hover {
      position: absolute;
      top:0;
    }
    .panel-body {
      border-radius: 0 0 25px 25px;
      width: 50%;
      max-width: 150px;
      float: right;
      background-color: #fff273;
         /* Safari 4-5, Chrome 1-9 */
         background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fcbc22), to(#fff273));

      /* Safari 5.1, Chrome 10+ */
      background: -webkit-linear-gradient(top, #fff273, #fcbc22);

      /* Firefox 3.6+ */
      background: -moz-linear-gradient(top, #fff273, #fcbc22);

      /* IE 10 */
      background: -ms-linear-gradient(top, #fff273, #fcbc22);

      /* Opera 11.10+ */
      background: -o-linear-gradient(top, #fff273, #fcbc22);
    }
  }

  .seach-list > input[type="search"] {
    width: 50%;
    border-radius: 50px;
    background: rgba(0, 110, 143, 0.9);
    border: none;
    box-shadow: inset 0 0px 3px rgba(74, 76, 76, 0.8);
    margin: 11px auto;
    padding: 4px 23px;
    font-size: 18px;
  }

  .songsPanel.jumbotron {
    padding: 0;
  }

  .songsPanel .content * {
    float: left;
  }

  .songsPanel .content {
    padding: 20px;
    overflow: hidden;
    audio {
      width: 43px;
    }
    .description {
      min-width: 300px;
      margin:0 10px;
      h6:first-child {
        font-size: 14px;
      }
      h6 {
        margin-bottom: 0;
        float:none;
      }
    }
    .btn-ctrl .btn {
    	width: auto;
	    padding: 13px;
	    font-size: 14px;
    }
  }

  .songs-list-ct .songsPanel {
    background: rgba(128, 207, 220, 0.8);
    &:nth-child(2n) {
      background: rgba(77, 182, 201, 0.5);
    }
  }

}