

* body {
    font-family: Arial;
}
body {
  background-color: #005b7f;
  background: url(../img/main_body_background.png) center center fixed;
 -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

@font-face {
    font-family: "din-medium";
    src: url(../fonts/din_medium-webfont.ttf);
}

@font-face {
    font-family: "sameButDifferent";
    src: local('../fonts/SameSameButDifferent.ttf');
    
}

@font-face {
    font-family:"titillium";
    src: url(../fonts/TitilliumText22L001-webfont.otf);
}

header h1 {
    font-family:"sameButDiferent";
}

